/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* Color Palette */
    --main-color-background: #ffffff;
    --main-color-background-secondary: #000C1D;
    --main-color-foreground: #000000;
    --main-color-foreground-secondary: #4A4A4A;
    --main-color-brand: #0D6EFD;
    --main-color-border: #CDCDCD;
    --main-color-props: #0D6EFD15;
    --main-color-hero-linear-1: #00000080;
    --main-color-hero-linear-2: #0D6EFD80;

    /* Typography */
    --main-font-heading-1: 61px;
    --main-font-heading-2: 49px;
    --main-font-heading-3: 39px;
    --main-font-heading-4: 31px;
    --main-font-heading-5: 25px;
    --main-font-heading-6: 20px;
    --main-font-heading-7: 16px;
}


/* Root Styles */
* {
    font-family: 'Poppins', sans-serif;
}


/* Text Sizes */
.mfh-1 {
    font-size: var(--main-font-heading-1) !important;
}

.mfh-2 {
    font-size: var(--main-font-heading-2) !important;
}

.mfh-3 {
    font-size: var(--main-font-heading-3) !important;
}

.mfh-4 {
    font-size: var(--main-font-heading-4) !important;
}

.mfh-5 {
    font-size: var(--main-font-heading-5) !important;
}

.mfh-6 {
    font-size: var(--main-font-heading-6) !important;
}

.mfh-7 {
    font-size: var(--main-font-heading-7) !important;
}


/* Base Colors */
.mfbg-brand {
    background-color: var(--main-color-brand) !important;
}

.mfbg-background {
    background-color: var(--main-color-background) !important;
}

.mfbg-background-secondary {
    background-color: var(--main-color-background-secondary) !important;
}

.mfbg-foreground {
    background-color: var(--main-color-foreground) !important;
}

.mfbg-foreground-secondary {
    background-color: var(--main-color-foreground-secondary) !important;
}

.mfbg-props {
    background-color: var(--main-color-props) !important;
}


/* Border Colors */
.mfc-border {
    border: 1px solid var(--main-color-border) !important;
}


/* Text Colors */
.mfc-brand {
    color: var(--main-color-brand);
}

.mfc-background {
    color: var(--main-color-background);
}

.mfc-foreground {
    color: var(--main-color-foreground);
}

.mfc-foreground-secondary {
    color: var(--main-color-foreground-secondary);
}


/* Button Varients */
/* Button Brand */
.btn-outline-brand {
    background-color: transparent !important;
    border: 2px solid var(--main-color-brand) !important;
    color: var(--main-color-brand) !important;
}

.btn-outline-brand:hover {
    background-color: var(--main-color-brand) !important;
    border: 2px solid var(--main-color-brand) !important;
    color: var(--main-color-background) !important;
}

.btn-outline-brand:active {
    background-color: var(--main-color-foreground) !important;
    border: 2px solid var(--main-color-foreground) !important;
    color: var(--main-color-background) !important;
}

/* Button Background */
.btn-outline-background {
    background-color: transparent !important;
    border: 2px solid var(--main-color-background) !important;
    color: var(--main-color-background) !important;
}

.btn-outline-background:hover {
    background-color: var(--main-color-background) !important;
    border: 2px solid var(--main-color-background) !important;
    color: var(--main-color-brand) !important;
}

.btn-outline-background:active {
    background-color: var(--main-color-foreground) !important;
    border: 2px solid var(--main-color-foreground) !important;
    color: var(--main-color-background) !important;
}


/* Navbar */
.nav-link {
    color: var(--main-color-background) !important;
}

.nav-link:hover {
    background-color: var(--main-color-brand) !important;
    color: var(--main-color-background) !important;
}


/* Bootstrap Changes */
.btn {
    border-radius: 0 !important;
}