/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    /* General Values */
    --main-window-scrollbar: 8px;

    /* Color Palette */
    --main-color-background: #ffffff;
    --main-color-background-secondary: #000C1D;
    --main-color-foreground: #000000;
    --main-color-foreground-secondary: #4A4A4A;
    --main-color-brand: #0D6EFD;
    --main-color-border: #CDCDCD;
    --main-color-props: #0D6EFD15;
    --main-color-hero-linear: linear-gradient(#00000080, #0D6EFD80);
    --main-image-hero: url("./images/covers/hero.jpg");

    /* Typography */
    --main-font-heading-T: 90px;
    --main-font-heading-1: 61px;
    --main-font-heading-2: 49px;
    --main-font-heading-3: 39px;
    --main-font-heading-4: 31px;
    --main-font-heading-5: 25px;
    --main-font-heading-6: 20px;
    --main-font-heading-7: 16px;
}


/* Root Styles */
* {
    font-family: 'Poppins', sans-serif;
    scroll-behavior: smooth;
}


/* Text Sizes */
.mfh-T {
    font-size: var(--main-font-heading-T) !important;
    line-height: 120%;
}

.mfh-1 {
    font-size: var(--main-font-heading-1) !important;
    line-height: 120%;
}

.mfh-2 {
    font-size: var(--main-font-heading-2) !important;
    line-height: 120%;
}

.mfh-3 {
    font-size: var(--main-font-heading-3) !important;
    line-height: 120%;
}

.mfh-4 {
    font-size: var(--main-font-heading-4) !important;
    line-height: 120%;
}

.mfh-5 {
    font-size: var(--main-font-heading-5) !important;
    line-height: 120%;
}

.mfh-6 {
    font-size: var(--main-font-heading-6) !important;
    line-height: 160%;
}

.mfh-7 {
    font-size: var(--main-font-heading-7) !important;
    line-height: 120%;
}


/* Base Colors */
.mfbg-brand {
    background-color: var(--main-color-brand) !important;
}

.mfbg-background {
    background-color: var(--main-color-background) !important;
}

.mfbg-background-secondary {
    background-color: var(--main-color-background-secondary) !important;
}

.mfbg-foreground {
    background-color: var(--main-color-foreground) !important;
}

.mfbg-foreground-secondary {
    background-color: var(--main-color-foreground-secondary) !important;
}

.mfbg-props {
    background-color: var(--main-color-props) !important;
}


/* Border Colors */
.mfc-border {
    border: 1px solid var(--main-color-border) !important;
}


/* Text Colors */
.mfc-brand {
    color: var(--main-color-brand);
}

.mfc-background {
    color: var(--main-color-background);
}

.mfc-foreground {
    color: var(--main-color-foreground);
}

.mfc-foreground-secondary {
    color: var(--main-color-foreground-secondary);
}


/* Button Varients */
/* Button Brand */
.btn-outline-brand {
    background-color: transparent !important;
    border: 2px solid var(--main-color-brand) !important;
    color: var(--main-color-brand) !important;
}

.btn-outline-brand:hover {
    background-color: var(--main-color-brand) !important;
    border: 2px solid var(--main-color-brand) !important;
    color: var(--main-color-background) !important;
}

.btn-outline-brand:active {
    background-color: var(--main-color-foreground) !important;
    border: 2px solid var(--main-color-foreground) !important;
    color: var(--main-color-background) !important;
}

/* Button Background */
.btn-outline-background {
    background-color: transparent !important;
    border: 2px solid var(--main-color-background) !important;
    color: var(--main-color-background) !important;
}

.btn-outline-background:hover {
    background-color: var(--main-color-background) !important;
    border: 2px solid var(--main-color-background) !important;
    color: var(--main-color-brand) !important;
}

.btn-outline-background:active {
    background-color: var(--main-color-foreground) !important;
    border: 2px solid var(--main-color-foreground) !important;
    color: var(--main-color-background) !important;
}


/* Navbar */
.navbar {
    box-shadow: 0 4px 100px #00000080;
    transition: all 0.5s ease-out;
    padding-block: 20px !important;
}

.navbar-scrolled {
    box-shadow: 0 4px 50px #00000080;
    background: var(--main-color-foreground);
    padding-block: 10px !important;
}

.nav-link {
    color: var(--main-color-background) !important;
}

.nav-link:hover {
    background-color: var(--main-color-brand) !important;
    color: var(--main-color-background) !important;
}


/* Custom HR */
.hr-brand {
    border: 2px solid var(--main-color-brand);
    opacity: 1;
}


/* Header Box */
.header-box {
    max-width: fit-content;
}


/* Props Box */
.props-box {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 80px;
    min-height: 80px;
}


/* Hero */
.main-hero {
    background: var(--main-color-hero-linear), var(--main-image-hero) center/cover no-repeat;
    background-attachment: fixed;
    min-height: 700px;
    display: grid;
    justify-content: center;
    align-items: center;
}


/* Main Section */
.main-section {
    min-height: 600px;
    padding: 20px;
}


/* Bootstrap Changes */
.btn {
    border-radius: 0 !important;
}


/* Custom Scrollbar */
::-webkit-scrollbar {
    width: var(--main-window-scrollbar);
}

::-webkit-scrollbar-track {
    background: var(--main-color-foreground);
}

::-webkit-scrollbar-thumb {
    background: var(--main-color-brand);
}